@use "onedark" as C;

$fg: C.$fg;
$bg: C.$bg_d;
$bg1: C.$black;

$ws-focused-bg: C.$cyan;
$ws-focused-fg: $bg;
$ws-urgent-bg: C.$red;
$ws-urgent-fg: $bg;
$ws-bg: C.$grey;
$ws-fg: $bg;

$success: C.$green;
$moderate: C.$yellow;
$warning: C.$orange;
$error: C.$red;
$ignored: C.$grey;
$outline: C.$bg2;
$hover: C.$bg1;

$mode-fg: $bg;
$mode-bg: C.$yellow;

$audio-fg: $bg;
$audio-bg: C.$cyan;

$sys-stat-fg: $bg;
$sys-stat-bg: C.$cyan;

$time-fg: $bg;
$time-bg: C.$cyan;

$date-fg: $bg;
$date-bg: C.$cyan;

$tray-bg: C.$bg1;
