window#waybar.topbar {
  font: bold 12px JetBrainsMono Nerd Font Propo;
  background-color: #181825;
  color: #cdd6f4;
}

#workspaces {
  margin: 10px;
  margin-left: 8px;
  margin-right: 0px;
  padding: 0px;
}

#workspaces button {
  all: unset;
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  margin: 0px;
  margin-right: 6px;
  background: #6c7086 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #6c7086);
  color: #181825;
}
#workspaces button.focused {
  background: #b4befe linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b4befe);
  color: #181825;
}
#workspaces button.urgent {
  background: #f38ba8 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #f38ba8);
  color: #181825;
}

#mode {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  background: #f38ba8 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #f38ba8);
  color: #181825;
}

#audio {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  background: #b4befe linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b4befe);
  color: #181825;
  margin-right: 6px;
}

#pulseaudio.mic {
  margin-right: 10px;
}

#pulseaudio.mic.source-muted {
  margin-right: 6px;
}

#battery {
  color: #181825;
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
}
#battery.good {
  background: #b4befe linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b4befe);
}
#battery.warning {
  background: #fab387 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #fab387);
}
#battery.critical {
  background: #f38ba8 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #f38ba8);
}
#battery {
  margin-right: 6px;
}

#cpu, #memory {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  margin-right: 6px;
  background: #b4befe linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b4befe);
  color: #181825;
}
#cpu.moderate, #memory.moderate {
  background: #f9e2af linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #f9e2af);
}
#cpu.warning, #memory.warning {
  background: #fab387 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #fab387);
}
#cpu.critical, #memory.critical {
  background: #f38ba8 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #f38ba8);
}

#tray {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  background: #313244 linear-gradient(to bottom, rgba(128, 128, 128, 0.4), #313244);
  color: #181825;
  margin-right: 6px;
}
#tray menu {
  color: #cdd6f4;
  background-color: #11111b;
}
#tray menu separator {
  color: #6c7086;
  background-color: #6c7086;
  opacity: 0.1;
}
#tray menuitem:hover {
  color: #cdd6f4;
  background: #1e1e2e;
}
#tray menuitem:disabled {
  color: #6c7086;
}

#privacy {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  background: #f38ba8 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #f38ba8);
  color: #181825;
  margin-right: 6px;
}

#clock.time {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  color: #181825;
  margin-right: 8px;
  background: #b4befe linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b4befe);
}

#clock.date {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  color: #181825;
  background: #b4befe linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b4befe);
}

tooltip {
  all: unset;
}

tooltip label {
  all: unset;
  font: bold 12px JetBrainsMono Nerd Font Propo;
  color: #cdd6f4;
  background-color: #181825;
  border: 1px solid #6c7086;
  border-radius: 10px;
  padding: 15px;
  opacity: 0.95;
}
