window#waybar.topbar {
  font: bold 12px JetBrainsMono Nerd Font Propo;
  background-color: #1e2030;
  color: #cad3f5;
}

#workspaces {
  margin: 10px;
  margin-left: 8px;
  margin-right: 0px;
  padding: 0px;
}

#workspaces button {
  all: unset;
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  margin: 0px;
  margin-right: 6px;
  background: #6e738d linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #6e738d);
  color: #1e2030;
}
#workspaces button.active {
  background: #b7bdf8 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b7bdf8);
  color: #1e2030;
}
#workspaces button.focused {
  background: #b7bdf8 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b7bdf8);
  color: #1e2030;
}
#workspaces button.urgent {
  background: #ed8796 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #ed8796);
  color: #1e2030;
}

#mode {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  background: #ed8796 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #ed8796);
  color: #1e2030;
}

#audio {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  background: #b7bdf8 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b7bdf8);
  color: #1e2030;
  margin-right: 6px;
}

#pulseaudio.mic {
  margin-right: 10px;
}

#pulseaudio.mic.source-muted {
  margin-right: 6px;
}

#battery {
  color: #1e2030;
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
}
#battery.good {
  background: #b7bdf8 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b7bdf8);
}
#battery.warning {
  background: #f5a97f linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #f5a97f);
}
#battery.critical {
  background: #ed8796 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #ed8796);
}
#battery {
  margin-right: 6px;
}

#cpu, #memory {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  margin-right: 6px;
  background: #b7bdf8 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b7bdf8);
  color: #1e2030;
}
#cpu.moderate, #memory.moderate {
  background: #eed49f linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #eed49f);
}
#cpu.warning, #memory.warning {
  background: #f5a97f linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #f5a97f);
}
#cpu.critical, #memory.critical {
  background: #ed8796 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #ed8796);
}

#tray {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  background: #363a4f linear-gradient(to bottom, rgba(128, 128, 128, 0.4), #363a4f);
  color: #1e2030;
  margin-right: 6px;
}
#tray menu {
  color: #cad3f5;
  background-color: #181926;
}
#tray menu separator {
  color: #6e738d;
  background-color: #6e738d;
  opacity: 0.1;
}
#tray menuitem:hover {
  color: #cad3f5;
  background: #24273a;
}
#tray menuitem:disabled {
  color: #6e738d;
}

#privacy {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  background: #ed8796 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #ed8796);
  color: #1e2030;
  margin-right: 6px;
}

#clock.time {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  color: #1e2030;
  margin-right: 6px;
  background: #b7bdf8 linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #b7bdf8);
}

#clock.date {
  margin: 10px 0px;
  padding: 2px 6px;
  border-radius: 5px;
  color: #1e2030;
  background: #6e738d linear-gradient(to bottom, rgba(255, 255, 255, 0.4), #6e738d);
}

tooltip {
  all: unset;
}

tooltip label {
  all: unset;
  font: bold 12px JetBrainsMono Nerd Font Propo;
  color: #cad3f5;
  background-color: #1e2030;
  border: 1px solid #6e738d;
  border-radius: 10px;
  padding: 15px;
  opacity: 0.95;
}
