@use "catppuccin-macchiato" as C;

$fg: C.$text;
$bg: C.$mantle;
$bg1: C.$crust;

$ws-focused-fg: C.$mauve;
$ws-urgent-fg: C.$red;
$ws-fg: C.$overlay0;

$success: C.$green;
$moderate: C.$yellow;
$warning: C.$peach;
$error: C.$red;
$ignored: C.$overlay0;

$mode-fg: C.$red;

$audio-fg: C.$lavender;

$sys-stat-fg: C.$text;

$outline: C.$overlay0;
