window#waybar.topbar {
  font: bold 13px JetBrainsMono Nerd Font Propo;
  background-color: #21252b;
  color: #abb2bf;
}

#workspaces {
  margin: 10px;
  margin-left: 14px;
  margin-right: 0px;
  padding: 0px;
}

#workspaces button {
  all: unset;
  margin-right: 10px;
  color: #5c6370;
}
#workspaces button.focused {
  color: #c678dd;
}
#workspaces button.urgent {
  color: #e86671;
}

#mode {
  margin-left: -10px;
  color: #e86671;
}

#pulseaudio.mic, #pulseaudio.spk {
  margin-right: 0px;
  color: #61afef;
}

#pulseaudio.mic.source-muted, #pulseaudio.spk.muted {
  color: #5c6370;
}

#battery.good {
  color: #98c379;
}
#battery.moderate {
  color: #e5c07b;
}
#battery.warning {
  color: #d19a66;
}
#battery.critical {
  color: #e86671;
}
#battery {
  margin-right: 14px;
}

#cpu, #memory {
  margin-right: 0px;
  color: #abb2bf;
}
#cpu.moderate, #memory.moderate {
  color: #e5c07b;
}
#cpu.high, #memory.high {
  color: #d19a66;
}
#cpu.critical, #memory.critical {
  color: #e86671;
}

#tray {
  color: #21252b;
}
#tray menu {
  color: #abb2bf;
  background-color: #181a1f;
}
#tray menu separator {
  color: #5c6370;
  background-color: #5c6370;
  opacity: 0.1;
}
#tray menuitem:hover {
  color: #abb2bf;
  background: #31353f;
}
#tray menuitem:disabled {
  color: #5c6370;
}

#privacy {
  color: #e86671;
}

tooltip {
  all: unset;
}

tooltip label {
  all: unset;
  font: bold 13px JetBrainsMono Nerd Font Propo;
  color: #abb2bf;
  background-color: #21252b;
  border: 1px solid #393f4a;
  border-radius: 10px;
  padding: 15px;
  opacity: 0.95;
}
